.product-detail {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-container {
  flex-basis: 40%;
}
img {
  width: 50%;
}

.product-info {
  flex-basis: 30%;
  text-align: start;
}

h1{
  text-align: start;
}
