.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;;
}

form {
  width: 50%;
  padding: 20px;
  border: 1px solid;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

input , button{
  width: 60%;
}
